header {
  background-image: linear-gradient(
    to bottom right,
    rgb(215, 19, 84),
    #ea777b,
    rgb(215, 19, 84)
  );

  padding: 0.2rem;
  width: 100%;

  .containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    font-size: 64px;
    color: #ffffff;
    display: inline-block;
    padding: 20px 26px;
    text-decoration: none;
  }

  .navBar {
    padding: 18px 24px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
  }
  .navBar.active {
    text-decoration: underline;
    color: rgba(237, 182, 80, 0.874);
  }
  .navBar:hover {
    transition: all 0.2s;
    background-color: #ffffff;
    border-radius: 15px;
    color: #e43071;
  }
}
span {
  font-size: 54px;
  color: #ffc1d8;
}
button {
  margin: 20px;
}

.footer {
  background-image: linear-gradient(
    to bottom right,
    rgb(215, 19, 84),
    #ea777b,
    rgb(215, 19, 84)
  );
  padding: 50px;
  margin-top: 50px;
}

.h6Footer {
  text-align: center;
  color: white;
  align-items: center;
  margin: 0;
  font-size: 15px;
  span {
    font-size: 15px;
  }
}

.loogedUser {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 800px) {
  .containerHeader {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header .logo {
    align-self: flex-start;
  }
}
