.clasNf {
  margin-top: 100px;
  color: #e43071;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.btnNf {
  padding: 10px 20px;
  background-color: #f6eaea;
  color: #ea777b;
  border: solid 1px #ea777b;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 0;
}

.btnNf:hover {
  background-color: #ea777b;
  color: white;
}
