.titleH1 {
  color: #e43071;
  margin-top: 25px;
  margin-bottom: 25px;
}

.nerIrasu {
  margin-top: 100px;
  color: #e43071;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
