.logoutBtn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  background-color: rgba(237, 182, 80, 0.874);
}

/* 9 */

.logoutBtn:hover {
  background-color: #fff;
  outline: none;
  color: #ffc1d8;
}

@media screen and (max-width: 800px) {
  .logoutBtn {
    display: flex;
    align-self: flex-end;
    margin: 0;
    flex-direction: column-reverse;
    top: 5%;
    position: absolute;
    left: 65%;
  }
}
